Hackfreaks/config.py
Hackfreaks/*.session
Hackfreaks/*.session-journal
Hackfreaks/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Hackfreaks/modules/helper_funcs/temp.txt
Hackfreaks/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
hackfreaks.session-journal
updates.txt
*.exe