future
emoji
lxml
beautifulsoup4
requests
sqlalchemy
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
regex
bleach
git+https://github.com/swatv3nub/python-markdown2.git
wikipedia
telethon==1.16.4
spamwatch
alphabet_detector
pyrate-limiter
gtts
nekos.py
fontTools
typing
tswift
cachetools
pyowm
tabulate
parsel
googletrans
mtranslate
aiohttp[speedups]
nekos.py
Intellivoid-SPB
pymongo==3.11.0
dnspython==2.0.0
